* {
    text-align: center;
}

#grid {
    width: 960px;
    height: 960px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    border: solid;
}

.cell {
        float: left;
        border: solid;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
}

.cell.active {
    background-color: black;
}